<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
          <div *ngIf="registerForm.get('username')?.errors?.['required']">Username is required</div>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Please enter a valid email</div>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</div>
        </div>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <div class="validation-error" *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Please confirm your password</div>
        </div>
        <div class="validation-error" *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
          Passwords do not match
        </div>

        <ion-button expand="block" type="submit" [disabled]="registerForm.invalid" class="ion-margin-top">
          Register
        </ion-button>

        <ion-button expand="block" fill="clear" routerLink="/login" class="ion-margin-top">
          Already have an account? Login
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content> 