<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Update Model</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="update-model-modal-content">
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Model Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="modelName" type="text" placeholder="Enter model name"></ion-input>
      <ion-note slot="error" *ngIf="updateForm.get('modelName')?.touched && updateForm.get('modelName')?.errors?.['required']">
        Model name is required
      </ion-note>
      <ion-note slot="error" *ngIf="updateForm.get('modelName')?.touched && updateForm.get('modelName')?.errors?.['maxlength']">
        Model name cannot exceed 100 characters
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Category <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="categoryId" (ionChange)="onCategoryChange($event)">
        <ion-select-option *ngFor="let cat of categories" [value]="cat.Category_ID">{{ cat.CategoryName }}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="updateForm.get('categoryId')?.touched && updateForm.get('categoryId')?.errors?.['required']">
        Category is required
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Topic <ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="topicId" (ionChange)="onTopicChange($event)">
        <ion-select-option *ngFor="let topic of topics" [value]="topic.Topic_ID">{{ topic.TopicName }}</ion-select-option>
      </ion-select>
      <ion-note slot="error" *ngIf="updateForm.get('topicId')?.touched && updateForm.get('topicId')?.errors?.['required']">
        Topic is required
      </ion-note>
    </ion-item>

    <ion-item *ngIf="updateForm.value.topicId">
      <ion-label position="stacked">Topic Description</ion-label>
      <ion-textarea [value]="selectedTopicDescription" readonly autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-text color="danger" *ngIf="error" class="ion-padding">{{ error }}</ion-text>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="updateForm.invalid || isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Update Model</span>
      </ion-button>
    </div>
  </form>
</ion-content>
