<div class="profile-icon-wrapper" (click)="showProfilePopover($event)">
  <div class="profile-avatar">
    <img 
      [src]="getProfilePictureUrl()" 
      [alt]="userProfile?.username || 'User'"
      [class]="'avatar-image ' + size"
      (error)="onImageError($event)"
    />
    <div class="online-indicator" *ngIf="isOnline"></div>
  </div>
  <div class="profile-info" *ngIf="showDetails">
    <p class="username">{{ userProfile?.username || 'User' }}</p>
    <p class="role">{{ userProfile?.role || 'Member' }}</p>
  </div>
</div>


